div.page {
	margin: 0 auto;
	width: 90%;
}

div.content {
	padding-left: 1em;
	padding-right: 1em;
}


/**
 * 	Forms
 */

form {
	margin: 0 auto;
	width: 50%;
}

form ul {
	list-style-type: none;
	clear: both;
}

form ul li.error input {
	background-color: #bb0000;
	color: white;
}

form ul li.required label {
	font-weight: bold;
}

form ul li label {
	float: left;
	width: 100px;
	font-size: 14px;
	text-align: right;
}
form ul li {
	padding-top: 5px;
	clear: both;
}

form ul li input {
	margin-left: 10px;
	float: left;
	width: 15em;
}

form ul ul.errorlist {
	padding-top: 1.5em;
	color: red;
	font-size: 12px;
	font-family: sans-serif;
}
