div.page {
	margin: 0 auto;
	width: 90%;
}

div.content {
	padding-left: 0;
	padding-right: 0;
}


/**
 * 	Forms
 */

form {
	margin: 0 auto;
	width: 100%;
	overflow: auto;
}

form ul {
	list-style-type: none;
	clear: both;
	overflow: auto;
	padding-left: 0;
}

form ul li.error input {
	background-color: #bb0000;
	color: white;
}

form ul li.required label {
	font-weight: bold;
}

form ul li label {
	float: left;
	width: 100px;
	font-size: 18px;
	text-align: left;
}

form ul li {
	padding-top: 5px;
	overflow: auto;
}

form ul li input {
	float: left;
	width: 90%;
	height: 48px;
	font-size: 30px;
}

form > input {
	height: 50px;
	width: 125px;
	clear: both;
}

form ul ul.errorlist {
	padding-top: 1.5em;
	color: red;
	font-size: 12px;
	font-family: sans-serif;
}

.form-actions {
	clear: both;
	width: 50%;
	margin: 0 auto;
}
.form-actions input {
	float: left;
	height: 50px;
	width: 125px;
	clear: both;
}
.form-actions.bottom {
	padding-top: 10px;
	padding-bottom: 15px;
}


form input[type="button"], form input[type="submit"]{
	height: 50px;
	width: 125px;
	clear: both;
	float: left;
}

fieldset label {
	float: left;
	clear: left;
	min-width: 7em;
	max-width: 10em;
	text-align: left;
}
fieldset label.checkbox {
	clear: right;
}
fieldset input, fieldset select {
	float: left;
	clear: right;
}
fieldset input[type="checkbox"], fieldset input[type="radio"] {
	float: left;
	clear: left;
}


.header-actions {
	float: right;
}

